nav .fa-github {
	font-size: 18px;
}

#devices {
	padding: 20px;
}

#devices-list li {
	text-align: center;
}

#devices-list a {
	padding: 0px 10px 25px 10px;
	display: block;
}

#devices-list .phone-wrap {
	display: inline-block;
}

#devices-list a:hover {
	background-color: #dddddd;
}

#devices-list .phone-wrap div {
    position: relative;
    top: 15px;
    left: 15px;
    text-align: right;
}

#devices-list .phone-wrap div i {
    background-color: black;
  	border-radius: 20px;
  	padding: 5px;
  	color: white;
  	border: solid 2px;
  	background-color: #008CBA;
	border-color: #007295;
}

#devices-list h5 {
	border-bottom: solid 1px #dddddd;
	margin-bottom: 5px;
}

#devices img {
	margin: 0 auto 0 auto;
	display: block;
	max-height: 250px;
	max-width: 100px;
}

#device-modal img {
	width: 100px;
	margin-bottom: 20px;
}

#device-modal h3 {
	border-bottom: solid 1px #dddddd;
	margin-bottom: 20px;
}

@media print {
	@page {
        margin: 0.5cm;
    }
	nav, button {
		display: none !important;
	}
	.qr h4 {
		font-size: 10px;
	}

	.qr .property {
		font-size: 5px;
		left: 15px;
	}
}
