nav .fa-github {
	font-size: 18px;
}

#devices {
	padding: 20px;
}

#devices-list li {
	text-align: center;
}

#devices-list a {
	padding: 0px 10px 25px 10px;
	display: block;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

#devices-list .phone-wrap {
	display: inline-block;
}

#devices-list a:hover {	
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;    
    background: #eeeeee;
}

#devices-list .phone-wrap div {
    position: relative;
    top: 15px;
    left: 15px;
    text-align: right;
}

#devices-list .phone-wrap div i {
    background-color: black;
  	border-radius: 20px;
  	padding: 5px;
  	color: white;
  	border: solid 2px;
  	background-color: #008CBA;
	border-color: #007295;
}

.tabs {
    border-bottom: solid 1px #dddddd;
    border-left: solid 1px #dddddd;
}

.tab-title {
    border: solid 1px #dddddd;
    border-bottom: none;
    border-left: none;
}

.tab-title.active {    
    margin-bottom: -1px !important;
    border-bottom: solid 1px white;
}

#devices-list h5 {
	border-bottom: solid 1px #dddddd;
	margin-bottom: 5px;
}

#devices img {
	margin: 0 auto 0 auto;
	display: block;
	max-height: 230px;    
}

#device-modal img {
	width: 160px;
}

#device-modal strong {
	width: 160px;	
}

#device-modal h3 {
	border-bottom: solid 1px #dddddd;
	margin-bottom: 20px;
}

.tabs-content {
    margin-bottom: 0;
}

.content {
    padding-bottom: 0 !important;
}

#attrs-list {
    height: 160px;
    overflow-y: scroll;
    margin-bottom: 0;
}

#attrs-list .row div {
    padding: 5px;
    text-overflow: ellipsis;
    overflow: auto;
}

@media print {
	@page {
        margin: 0.5cm;
    }
	nav, button {
		display: none !important;
	}
	.qr h4 {
		font-size: 10px;
	}

	.qr .property {
		font-size: 5px;
		left: 15px;
	}
}
