td, th {
    cursor: pointer;
    text-align: center;
    vertical-align: middle !important;
}

img {
	width: 30px;
}

.table {
	height: 300px;
	overflow: auto;
}

.modal .well {
    height: 200px;
    overflow: scroll;
}

.modal-body {
	height: 400px;
	overflow-y: auto;
}

.modal img {
	width: 120px;
}

.modal .qr {
	width: 200px;
}

.qr {
	text-align: center;
	color: black;
	border: solid 1px #dddddd;
	padding: 10px 10px 0px 10px;
	margin: 10px;
}

.qr img {
	width: 100%;
}

.qr h4 {
	font-style: italic;
	font-family: monospace;
	font-size: 1.5vw;
}

@media print {
	@page {
        margin: 0.5cm;
    }
	nav, button {
		display: none !important;
	}
	.qr h4 {
		font-size: 10px;
	}
}
