<div id="modal" class="modal fade" ng-controller="device">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Device management</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6 text-center">
                        <h5>IMEI: {{device.imei}}</h5>
                        <img src="{{device.image}}">                
                    </div>
                    <div class="col-xs-6">   
                        <blockquote>
                        <h5>QR Code</h5>
                        <img class="qr" src="/device/{{device.imei}}/qr?margin=10&print=true" class="img-thumbnail">                
                        </blockquote>             
                        <blockquote>             
                        <h5>Attributes ({{device.attributes.length}})</h5>
                        <dl class="dl-horizontal">
                            <div ng-repeat="attribute in device.attributes">
                                <dt>{{attribute.name}}:</dt>
                                <dd>{{attribute.value}}</dd>
                            </div>
                        </dl>
                        </blockquote>             
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="delete()">Delete device</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>