<div id="device-modal" class="reveal-modal" data-reveal ng-controller="device">
    <div class="row">
        <div class="text-center small-4 columns">
            <img ng-src="{{device.image}}">            
        </div>
        <div class="small-8 columns">
            <h4>IMEI: {{device.imei}}</h4>
            <h4>Attributes ({{device.attributes.length}})</h4>
            <blockquote>
                <ul id="attrs-list" class="small-block-grid-3 medium-block-grid-4 large-block-grid-5">
                    <li ng-repeat="attribute in device.attributes">
                        <strong>{{attribute.name}}</strong>
                        <span>{{attribute.value}}</span>
                    </li>
                </ul>
            </blockquote>
            <div class="right">                
                <a href="" ng-show="!device.checkedIn" class="button" ng-click="check()"><i class="fa fa-sign-in"></i> Check in</a>
                <a href="" ng-show="device.checkedIn" class="button" ng-click="check()"> <i class="fa fa-sign-out"></i> Check out</a>
                <a href="" class="button alert" ng-click="delete()"><i class="fa fa-trash-o"></i> Delete</a>
            </div>
        </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>