<div class="container" ng-controller="qrs">

    <div class="input-group">
        <span class="input-group-btn">
            <button ng-click="newQR()" class="btn btn-default">Add QR</button>
        </span>
        <input type="number" ng-model="number" class="form-control" ng-init="number = 1">
        <span class="input-group-btn">
            <a href="/api/qr?format=csv" class="btn btn-default">Get all as CSV</a>
        </span>
    </div>

    <div class="row" ng-repeat="rows in qrs | partition:4">
        <div class="col-xs-3" ng-repeat="qr in rows">
            <div class="qr">
                <div class="property">Property of: &copy;WDS</div>
                <img src="/api/qr/{{qr.humanId}}/image?brand=wds">
                <h4>{{qr.humanId}}</h4>
            </div>
        </div>
    </div>

</div>