<nav id="devices" ng-controller="devices">
    <div class="panel row text-center">
        <div class="small-12 columns">
            <input id="device-search" ng-model="imei" class="text-center" type="text" placeholder="Search devices">
        </div>
        <div class="text-center" ng-hide="filterDevices.length">
            <h1><small>No devices found for this IMEI</small></h1>
            <a href="#" ng-click="newDevice()" class="button">Create device</a>
        </div>
    </div>
    <div class="row">
        <ul id="devices-list" class="small-block-grid-2 medium-block-grid-4 large-block-grid-5">
            <li ng-repeat="device in filterDevices = (devices | filter:imei)">                
                <h5 class="subheader">{{device.name}}</h5>
                <a ng-click="select(device)" href="#">                    
                    <div class="phone-wrap">                        
                        <div>
                            <i ng-style="{visibility: device.checkedIn && 'visible' || 'hidden'}" class="fa fa-circle-o-notch fa-spin"></i> &nbsp;
                        </div>
                        <img ng-src="{{device.image}}">                                            
                    </div>
                    <h4 class="hide">{{device.imei}}</h4>                                    
                </a>                                
            </li>
        </ul>
    </div>
</nav>