<div class="container" ng-controller="devices">

    <div class="input-group">
        <input type="text" class="form-control" ng-model="imei" placeholder="Add new device by IMEI">
        <span class="input-group-btn">
            <button ng-click="newDevice()" class="btn btn-default">Add device</button>
        </span>
    </div>

    <h3>
        <i class="fa fa-phone"> </i> Current devices
    </h3>

    <div class="table">
        <table id="topics" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th><i class="fa fa-camera"></i> Picture</th>
                    <th ng-click="sort('imei')"><i class="fa fa-credit-card"></i> IMEI</th>
                    <th ng-click="sort('attributes.length')"><i class="fa fa-tag"></i> Number of attributes</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-click="select(device)" data-toggle="modal" data-target="#modal" id="device-{{device.imei}}" ng-repeat="device in devices">
                    <td><img src="{{device.image}}"></td>
                    <td>{{device.imei}}</td>
                    <td><span class="label label-default">{{device.attributes.length}}</span></td> 
                </tr>
            </tbody>
        </table>
    </div>

    <p class="text-center text-muted">
        <small>Last updated: {{lastModified | date:'mediumTime'}}</small>
    </p>

</div>